/* Colors
#273043
#9197AE
#EFF6EE
#F02D3A
#DD0426
*/

/*
#F2EFEA
#FC7753
#66D7D1
#403D58
#DBD56E
*/


body{
  background-color: #F2EFEA;
}
.content-border{
  border: solid black 1px;
  width: 95%;
  margin: auto;
  margin-top: 30px;
}

