.Nav{
    border-bottom: solid black 2px;
    background-color: #403D58;
}
.navbar-brand{
    font-family: 'Special Elite', cursive;
    padding-left: 10px;
    color: white;
}
.navbar-brand:hover{
    color: #403D58;
}
.full-nav {
    display: flex !important;
    justify-content: space-between;
}
.sign-in{
    margin: 10px 20px 10px 20px;
}
.profile-link{
    display: flex;
    margin: 10px 20px 10px 20px;
}
.nav-link{
    color: #DBD56E
}
.nav-link:hover{
    color: #F2E94E;
}
.nav-link:focus{
    color: #F2E94E;
}
.nav-bottom{
    background-color: #403D58;
}
.nav-bottom .nav-link{
    color: white;
}