/* main page  */
.main-page-posts{
    margin: 50px auto;
    width: 60%;
}
.AllPost{
    width: -webkit-fill-available;
}



/* profile posts */

.postSubmit{
    display: flex;
    padding-bottom: 20px;
    width: 90%;
    margin: auto;
}
.postSubmit textarea{
    margin-right: 10px;
}
.postSubmit button{
    background-color: #403D58;
}
.postSubmit button:hover{
    background-color: #403D58;;
    color: #DBD56E
}
.posts{
    padding-bottom: 20px;
    width: 90%;
    margin: auto;
}
.post{
    border-radius: 5px; 
    background-color: white; 
    border: solid #403D58 1px;
}
.middle-post{
    padding: 10px;
}
.post-top{
    display: flex;
    justify-content: space-between;
}
.post-bottom{
    display: flex;
    justify-content: space-between;
}



/* New Bootstrap Card */
.card-header{
    display: flex;
    justify-content: space-between;
}
.card-footer{
    display: flex;
    justify-content: space-between;
}
.card-like{
    display: flex;
}
.post-count{
    padding-left: 15px; 
}






