/* Left Side */
.col-left{
    margin-top: 20px;
}
.videos{
    padding-bottom: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.social-purchase{
    padding-left: 10px;
    padding-right: 10px;
    height: 25px;
}
.posts{
    padding-bottom: 20px;
    width: 90%;
    margin: auto;
}
.post{
    display: flex;
    justify-content: space-between;
    border-radius: 5px; 
    background-color: white; 
    border: solid #403D58 1px;
}





